{%block content%}
{% load static %}
    
        
            <link rel="stylesheet" href="{% static 'portfolio.css' %}">
            <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    
    body{
        <header class="header">
            <a href="#" class="logo">Dinesh's Portfolio</a>
            <nav class="navbar">
                <a href="{% url 'home' %}" class="active">Portfolio</a>
                <a href="{% url 'education' %}">Education</a>
                <a href="{% url 'services' %}">Service</a>
                <a href="{% url 'projects' %}">Projects</a>
            </nav>
            <a href="{% url 'contactform' %}" class="contactb">Contact Me</a>
        </header>
      
        <section class="projects" id="projects">
            <div class="projects-content">
                <h1><br>PROJECTS</h1>
                <h2>Tkinter With MYSQL</h2>
                <p>Created a registration form for Car showroom and designing a brochure and list out the Brands and their models of their  cars
                    and recored in database using Tkinter and Mysql</p>
                <h2>HTML & CSS</h2>
                <p>Created and designing a Aquarium web page and list out the products and services of the aquarium shop using HTML and CSS</p>
                <h2>Django</h2>
                <p>Created and designing a Portfolio web page and recored informations of companies who needs to hire and record that datas into  MySq lite</p>
            </div>
        </section>
    
       
{%endblock%}